<div class="container">
    <header class="header">
        <svg class="header-logo" width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <use href="../assets/sprite.svg#logo"></use>
        </svg>
        <h1 class="header-title">Tic-Tac-Toe game</h1>
    </header>

    <main class="main">
        <div class="main-player-turn">
            <div class="player-1-turn-container" data-player-1-turn>
                <svg class="player-turn-svg" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <use href="../assets/sprite.svg#x"></use>
                </svg>
                <h2 class="player-turn-title">Player 1 turn</h2>
            </div>
            <div class="player-2-turn-container" data-player-2-turn>
                <svg class="player-turn-svg" width="41" height="42" viewBox="0 0 41 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <use href="../assets/sprite.svg#ellipse"></use>
                </svg>
                <h2 class="player-turn-title">Player 2 turn</h2>
            </div>
        </div>
        <div class="main-game-menu">
            <div class="menu-player-1">
                <div class="player-1-container player-container">
                    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="../assets/sprite.svg#x"></use>
                    </svg>
                    <h2 class="player-1-name player-name">Player 1</h2>
                </div>
                <div class="player-1-score score-container">0</div>
            </div>
            <div class="menu-player-2">
                <div class="player-2-container player-container">
                    <svg width="41" height="42" viewBox="0 0 41 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="../assets/sprite.svg#ellipse"></use>
                    </svg>
                    <h2 class="player-2-name player-name">Player 2</h2>
                </div>
                <div class="player-2-score score-container">0</div>
            </div>
            <button class="menu-reset-current button" type="button" (click)="resetCurrentGame()">Reset current game</button>
            <button class="menu-reset-all button" type="button">Reset all</button>
        </div>
        <div class="main-gameplay">
            <div class="gameplay-item" (click)="changePlayer()">
                <div class="item-1-default" data-item-1-default></div>
                <div class="item-1-player-1" data-item-1-player-1>
                    <svg width="117" height="116" viewBox="0 0 117 116" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="../assets/sprite.svg#x-large"></use>
                    </svg>
                </div>
                <div class="item-1-player-2" data-item-1-player-2>
                    <svg width="148" height="148" viewBox="0 0 148 148" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="../assets/sprite.svg#ellipse-large"></use>
                    </svg>
                </div>
            </div>
            <div class="gameplay-item" (click)="changePlayer()"></div>
            <div class="gameplay-item" (click)="changePlayer()"></div>
            <div class="gameplay-item" (click)="changePlayer()"></div>
            <div class="gameplay-item" (click)="changePlayer()"></div>
            <div class="gameplay-item" (click)="changePlayer()"></div>
            <div class="gameplay-item" (click)="changePlayer()"></div>
            <div class="gameplay-item" (click)="changePlayer()"></div>
            <div class="gameplay-item" (click)="changePlayer()"></div>
        </div>
    </main>
</div>